body {
  margin: 0;
  padding: 0;
  background-color: #808080;
  font: 70%/160% "verdana", sans-serif;
  color:#000;
  height:100%;
}

.btnGeneral{
    cursor: pointer;
    border: 1px solid #dedede;
    display: inline-block;
    color: #C3C4E7;
    border-radius: 5px;
    margin-right: 10px;
    float: right;
    font: bold 12px/12px HelveticaNeue, Arial;
    padding: 8px 11px; 
    text-decoration: none; 
    background: #ab2121;
    border-color: #dedede #d8d8d8 #d3d3d3;
    box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    color: #C3C4E7;
    border-color: #6467B7 #51539B #7C7FD2;
    box-shadow: 0 1px 1px #c1c1c1, inset 0 1px 0 #F90C38;
    text-shadow: 0 1px 0 #292A46;
    background: -webkit-linear-gradient(top, #1419A8, #5F64EB);
}

.btnGeneral:hover{
    background: #a63030;
    border-color: #dedede #d8d8d8 #d3d3d3;
    box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;   
    background: -webkit-linear-gradient(top, #5F64EB, #1419A8);
}

p {
  margin: 1em 0;
  padding: 0;
}

.clear {
  clear: both;
}

h2, h3, h4, h5 {
  margin: 1em 0;
  padding:0;
}

h1 {

  padding-left: 30px;
  font-size: 460%;
  -webkit-text-fill-color:#fff;
  -webkit-text-stroke: 1px black;
  text-shadow: -2px -2px 1px #000;
  font-family: fantasy;
  font-weight: normal;
  
}

h2 {
  font-size:180%;
  font-family: "georgia", serif;
  font-weight:normal;
}

h3 {
  font-size:120%;
  font-weight:bold;
  font-family: "georgia", serif;
}

ul, ol {
  margin: 1em 0 1em 2em;
  padding:0;
}

#contenedor {
	
    border-radius: 15px 15px 15px 15px;
    width:80%; height: 100%; margin: 50px auto 50px auto;
    background-color: #fff;
}

header {
    width:100%;
    height:  100px;
	border-radius:15px 15px 0 0;
	background-color:#0094ff;
	
	}

#content{
	overflow:hidden;
    width: 100%;
    height: 100%;/*Cambio de 500px al 100%*/
    position: relative;
     margin: 0px auto 0 auto;
}
#banner{
    width: 70%;
    height: 100px;
    float: left;
   
   
}
#buscador {
    padding-top:10px;
    padding-left: 10px;
    width:100%;

    font-size: 120%;
    font-family: "georgia", serif;
    font-weight:bold;
}
#opcionesUser {
    width: 30%;
    height: 100%;
    float: left;
    
}
#controles {
    width: 60%;
    height: 100%;
    float: left;
    padding-top: 15%;
    text-align: center;
}
#imagenUsuario {
    float: left;
    padding-top:5px;
    padding-bottom:5px; 
    width: 40%;
    height:90%;
}

#imagenSid {
    padding-top: 20px;
    width: 30%;
    height: 90px;
    float: left;
}
#headPage{
    width: 70%;
    height: 100%;
    float: left;
}

#contenidoPrincipal {
  float: left;  width: 70%;
  height: 100%;
  /*padding:0 0 0 20px;*/
  background-color: #FFF;
}
#nombreEmpresa {
    padding-left: 30%;
}
#infoSeccion {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 10px;
}
#textoInfor {
    padding-top: 30px;
    float: left;
    width: 70%;
    height: 90%;
}
#imagenEmpresa {
    float:left;
    padding-top: 50px;
    width: 180px;
    height: 180px;
}

aside{
  float: right;  
  width: 30%;
  height: 100%;
  padding-bottom:20px;
}

#nombreBienvenida{
	background: #153C8F;
    margin: 0;
	padding:12px 0 15px 15%;
	color:#fff;
}
#notificaciones {
	padding-top:20px;
	padding-left:20px;
	
	height:100%;
   	overflow:scroll;
    overflow-x: hidden;	
	
}
.noticias{
  margin-top: 15px;
  margin-right: 25px;
  padding:5px 5px 5px 5px;
  font-size: 110%;
  font-family: "georgia", serif;
  font-weight: normal;
  background-color:#D8D8D8;
  border-radius:10px;
}
footer {
    border-radius: 0 0 15px 15px;
    clear: both;
    height: 60px;
    position: relative;
    background-color: #153C8F;
    color: #fff;
}
#pie {
    padding-top: 20px;
    margin-left: 45%;
    font-weight: bold;
}

/* ---- Menú --------------------------------------------------------------- */
#menu {
  background: #153C8F;
  margin: 0;
  padding: 5px 0 0 0;
}

#menu ul {
  margin: 0 10px;
  padding: 0;
  list-style:none;
}

#menu ul li {
  margin: 0 5px 0 0;
  padding-top: 10px;
  float:left;
}

#menu ul li a {
  display: block;
  position: relative;
  padding: 5px 15px;
  border: 0;
  background: #153C8F;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

#menu ul li a:hover {
  background:#0094ff ;
  
}

#menu ul li.seleccionado a {
  background: #FFF;
  color: #000;
}


/* ---- submenu --------------------------------------------------------------- */
#submenu {
  margin: 0;
  padding: 0;
}

#submenu ul {
   margin: 0 80px;
  padding: 0;
  list-style:none;
}

#submenu ul li {
  margin: 0;
  padding-top: 5px;
  float:left;
}

#submenu ul li a {
  display: block;
  position: relative;
  padding: 0px 50px;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #000;
  background: #000;
  color: #FFF;

  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.Rotate-90
{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
 
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
 
  font-size: smaller;
  background: #e0e0e0;
  width: 10px;
  position: relative;
  top: 0px;
}

#submenu ul li a:hover {
  background: #31479B;
}

#submenu ul li.seleccionado a {
  background: #FFF;
  color: #000;
}

/*-----------------------------------Agregado/Concurso------------------------------------*/

.lateral{
    height: 15px;
    font-weight: bold;
    font-size: 17px;
    padding-top: 20px;
    padding-left: 15px;
}

#equipos ul{
    list-style: none;
}

#equipos .eq{
    
    font-weight: bold;
    font-size: 13px;
    font-style: italic;
}

.estrella{
    margin: 7px 0 0 10px;
    width: 20px;
    height: 20px;
}

.logoconc{
    margin: 5px 0 0 0;
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px 10px 10px 10px;
}

.concurso{
    height: 155px;
    margin: 10px 10px 10px 20px;
    display: block;
    padding: 5px 5px 5px 5px;
    background-color:#c1d4d1;
    border-radius: 5px 5px 5px 5px;
}

.participantes{
    position: relative;
    margin: 10px 10px 0 0;
    float: right;
}

.acceder{
    cursor: pointer;
    border: 1px solid #dedede;
    display: inline-block;
    color: #C3C4E7;
    border-radius: 5px;
    margin-right: 10px;
    float: right;
    font: bold 12px/12px HelveticaNeue, Arial;
    padding: 8px 11px; 
    text-decoration: none;  
}


.acceder.color{
    
    background: #ab2121;
    border-color: #dedede #d8d8d8 #d3d3d3;
    box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    color: #C3C4E7;
    border-color: #6467B7 #51539B #7C7FD2;
    box-shadow: 0 1px 1px #c1c1c1, inset 0 1px 0 #F90C38;
    text-shadow: 0 1px 0 #292A46;
    background: -webkit-linear-gradient(top, #1419A8, #5F64EB);
}

.acceder.color:hover{
    background: #a63030;
    border-color: #dedede #d8d8d8 #d3d3d3;
    box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;   
    background: -webkit-linear-gradient(top, #5F64EB, #1419A8);
}

lstConcursos{
    height:100%;
}

.desc{
    height: 54px;
}

.ranking{
    float: left;
    height: auto;
    width: 25%;
    background: white;
    border-radius: 5px 5px 5px 5px;
}

#opcConcurso{
    float: left;
    height: 100%;
    margin-right: 20px;
}

#opcConcurso .logoconc{
    width: 130px;
    height: 120px;
    margin: 10px 0 30px 30px; 
    
     
}

#opcConcurso ul{
    font-size: 20px;
    list-style: none;
    height: 100%
}

#opcConcurso ul li{
    display: block;
    margin: 10px 0 0 0;
    
}

#opcConcurso ul li a{
    padding: 5px;
    cursor: pointer;
    display: block;
    
}



#contentConc{
    width: 70%;
    float: left;
}

/*------------OFERTAS-----------*/

#btnNewOffer{
    height: 100%;
    width: 30%;
    float: left;
    margin-top: 20px;
  
    
}

#newOffer{
    
    width: 100%;  
    height: 50px;
    font-size:130%;
    font-family: fantasy;
    font-weight:normal;
    
    
}
#OfferList, #IncList, #DemandaList{
    height: 100%;
    width: 70%;
    float: left;
    
}

.offer, .divInc, .divDemanda{
  width: 90%;  
  margin-top: 15px;
  margin-left: 25px;
  padding:5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  background-color:#D8D8D8;
 
}

.lat{
 
    padding-left: 25px;
    padding-bottom: 3px;
    font-size: 110%;
    font-family: "georgia", serif;
    font-weight: normal;
}


.logooffer{
    float: left;    
    margin: 10px;
    width: 100px;
    height: 100px;
    
    
}

.detail{
    font-size: 12px;
    margin-left: 80%;
}

#login {
    
        width:80%; height: 60%; margin: 50px auto 50px auto;
    
}
#noticiasPrincipales {
    overflow:hidden; 
     float: left;
     width: 70%;
     height: 350px;
     padding-top: 50px;
     
     

}
.button {
float:left;
width: 45%;
height: 40%;
background-color: #153C8F;
border-radius: 20px;
  

}
.btn {
    margin: 20px 20px 20px 20px;
  font-size: 360%;
  -webkit-text-fill-color:#fff;
  -webkit-text-stroke: 1px black;
  text-shadow: -2px -2px 1px #000;
  font-family: fantasy;
  font-weight: normal;
  text-decoration:none; 
}
.marginIzq {
    margin-left: 50px;
}

#formularioOferta {
    position: relative;
    margin: 0 30% 0 15%;
    
}

/*-------VENTANAS FLOTANTES---------*/

#ventana-flotante {
width: 360px;  /* Ancho de la ventana */
height: 90px;  /* Alto de la ventana */
background: #ceffad;  /* Color de fondo */
position: fixed;
top: 200px;
left: 50%;
margin-left: -180px;
border: 1px solid #adffad;  /* Borde de la ventana */
box-shadow: 0 5px 25px rgba(0,0,0,.1);  /* Sombra */
z-index:999;
}
#ventana-flotante #contenedor {
padding: 25px 10px 10px 10px;
}
#ventana-flotante .cerrar {
float: right;
border-bottom: 1px solid #bbb;
border-left: 1px solid #bbb;
color: #999;
background: white;
line-height: 17px;
text-decoration: none;
padding: 0px 14px;
font-family: Arial;
border-radius: 0 0 0 5px;
box-shadow: -1px 1px white;
font-size: 18px;
-webkit-transition: .3s;
-moz-transition: .3s;
-o-transition: .3s;
-ms-transition: .3s;
}
#ventana-flotante .cerrar:hover {
background: #ff6868;
color: white;
text-decoration: none;
text-shadow: -1px -1px red;
border-bottom: 1px solid red;
border-left: 1px solid red;
}
#ventana-flotante #contenedor .contenido {
padding: 15px;
box-shadow: inset 1px 1px white;
background: #deffc4;  /* Fondo del mensaje */
border: 1px solid #9eff9e;  /* Borde del mensaje */
font-size: 20px;  /* Tamaño del texto del mensaje */
color: #555;  /* Color del texto del mensaje */
text-shadow: 1px 1px white;
margin: 0 auto;
border-radius: 4px;
}
.oculto {-webkit-transition:1s;-moz-transition:1s;-o-transition:1s;-ms-transition:1s;opacity:0;-ms-opacity:0;-moz-opacity:0;visibility:hidden;}


.cuadrouno{
border: 1px solid #e1e8ed;
border: 1px solid rgba(0,0,0,0.1);
}
.registrar-wrapper {
display: block;
width: 585px;
clear: both;
}
element.style {
}
#phx-signup-form {
padding: 10px 0;
}
form {
display: block;
margin-top: 0em;
}
.formulario{
font-size: 12px;
margin-bottom: 0;
}

/*Añadido*/
#nombreUsuario{
    margin-left: 5px;
    font-size: 18px;
}

#datosPers #inst{
    font-size: 14px;
}

#noti{
    padding: 5px 50px 5px 5px;
}

#infoSeccion2 {
    float: left;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 10px;
}

#imagenEmpresa2 {
    float:left;
    width: 160px;
    height: 160px;
    margin: 0 10px 10px 0;
}

#submenu2 {
  float: left;
  margin:0;
  padding:0;
}

#submenu2 ul {
  margin: 0 5px;
  padding: 0;
  list-style:none;
}

#submenu2 ul li {
  margin: 0;
  padding-top: 5px;
  float:left;
}

#submenu2 ul li a {
  display: block;
  position: relative;
  padding: 0px 50px;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #000;
  background: #000;
  color: #FFF;
  width: 120px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.Rotate-90
{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
 
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
 
  font-size: smaller;
  background: #e0e0e0;
  width: 10px;
  position: relative;
  top: 0px;
}

#submenu2 ul li a:hover {
  background: #31479B;
}

#submenu2 ul li.seleccionado a {
  background: #FFF;
  color: #000;
}

.noticias2{
  float: left;
  margin-top: 15px;
  margin-right: 25px;
  padding:5px 25px 5px 5px;
  font-size: 110%;
  font-family: "georgia", serif;
  font-weight: normal;
  background-color:#D8D8D8;
  border-radius:10px;
}